      Now with rudimentry functionality!
    </small>
  </h3>
</div>
<br>

<p>
  <a href="/delete_all">Clear out the DB!</a>
  <br>
  <a href="/scrape">Scrape up some new ads</a>
</p>
<% total = 0 %>
<% @carads.each() do |carad| %>
  <% total += carad.price() %>
<% end %>
and your average is: $<%= total / @count %>!

<ul class="list-unstyled">
  <% @carads.each() do |carad| %>
    <li><a alt="delete" href="/bands/delete/<%= carad.id() %>">&#215;</a><a href="/carad/<%= carad.id() %>"> | <%= carad.price() %> | <%= carad.date() %> | <%= carad.city() %> | <%= carad.description() %> | </a></li>
  <% end %>
</ul>
